<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codearms.maoqiqi.one.navigation">

    <application>
        <activity
            android:name="com.codearms.maoqiqi.one.ui.AboutActivity"
            android:theme="@style/AppTheme.Navigation" />
    </application>

</manifest>