<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codearms.maoqiqi.one.movie">

    <application>
        <activity
            android:name=".MovieActivity"
            android:theme="@style/AppTheme.Movie" />
    </application>

</manifest>