<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codearms.maoqiqi.one.music">

    <application>
        <activity
            android:name="com.codearms.maoqiqi.one.ui.MusicActivity"
            android:theme="@style/AppTheme.Music">
            <intent-filter android:label="example">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="music"
                    android:scheme="one" />
            </intent-filter>
        </activity>
    </application>

</manifest>